/* Global font reset - preserve original fonts */
body, html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Reset default margins */
body, html, div, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
